@import "@csstools/normalize.css";
@import "antd/dist/antd.css";

html {
  /*
    Inspired by:
    https://blog.usejournal.com/dont-use-rem-em-for-paddings-margins-and-more-94e19026b000
  */
  font-size: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
